* {
    scroll-behavior: smooth;
}

.gradient-text-bg {
    background: linear-gradient(to right, rgb(0, 17, 255), rgb(2, 171, 255), rgb(0, 255, 115));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.gradient-text-bg2 {
    background: linear-gradient(to right, rgb(255, 0, 106), rgb(255, 136, 0), rgb(255, 217, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.btn-gradient1 {
    background: linear-gradient(to right, rgb(0, 17, 255), rgb(2, 171, 255), rgb(0, 255, 115));
}

.btn-gradient2 {
    background: linear-gradient(to right, rgb(255, 0, 106), rgb(255, 136, 0), rgb(255, 217, 0));
}

.nav-box {
    padding: 10px;
}

.nav-box .nav-line {
    display: block;
    height: 3px;
    margin-block: 8px;
    background: #000;
    border-radius: 50px;
    transition: all .2s linear;
}

.nav-line:nth-child(1) {
    width: 10px;
}

.nav-line:nth-child(2) {
    width: 25px;
    /* margin-left: 20px; */
}

.nav-line:nth-child(3) {
    margin-left: 0px;
    width: 10px;
}

.nav-line:first-child.true {
    width: 30px;
    margin-top: 10px;
    margin-left: 5.5px;
    transform-origin: 10px;
    transform: rotate(45deg);
}

.nav-line:last-child.true {
    width: 30px;
    transform-origin: 5px;
    transform: rotate(-45deg);
    margin-left: 6px;
}

.nav-line:nth-child(2).true {
    transform: translateX(-40px);
    display: none;
}